@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<HomePage>

@* <section>
	<div class="container">
		<div>

			<div>
				<h2></h2>
				<img />
				<p></p>
			</div>

			<div></div>

			<div></div>

			<div></div>

			<div></div>

			<div></div>

		</div>
	</div>

</section> *@