<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="58c6cd7c-2af5-4db7-bb75-036642dddfbf" Alias="aboutPage" Level="2">
  <Info>
    <Name>About Page</Name>
    <Icon>icon-users</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="64a9a500-26e4-49d3-89c2-6e67bbb350ae">pageBanner</Composition>
    </Compositions>
    <DefaultTemplate>AboutPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="001ad38a-2e8b-4291-ba9d-b4cb4e196219">AboutPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>87c0533a-edd8-4a18-be02-cdfc4106a4b8</Key>
      <Name>Sections</Name>
      <Alias>sections</Alias>
      <Definition>36225b16-12a7-4636-aee5-65d3c6fcc6a1</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>a16e6511-ab4d-49a6-9f97-d3e32d6537bc</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>