<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="85741570-b792-4e3e-bfa3-6729d11c1d21" Alias="homePage" Level="2">
  <Info>
    <Name>Home Page</Name>
    <Icon>icon-home</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate>HomePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="4f23ef69-74ac-41c8-a397-dcf36c6c0387">HomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="31544a54-2926-4476-addd-e1cd23e782fd" SortOrder="0">contactPage</ContentType>
    <ContentType Key="f3d7a779-ffd4-40df-bc4c-b8aef258fd83" SortOrder="1">servicePage</ContentType>
    <ContentType Key="58c6cd7c-2af5-4db7-bb75-036642dddfbf" SortOrder="2">aboutPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>bc1b4e6d-7f9e-44ad-912b-bac618de19b5</Key>
      <Name>Sections</Name>
      <Alias>sections</Alias>
      <Definition>36225b16-12a7-4636-aee5-65d3c6fcc6a1</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>28b8ce5b-8291-418c-9e0f-d92d0545160f</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>3</SortOrder>
    </Tab>
  </Tabs>
</ContentType>