@import "tailwindcss";

@source "../Views/**/*.cshtml";
@source "../Views/Partials/**/*.cshtml";
@source "../App_Plugins/**/*.{html,js,cshtml,vue,ts,tsx,jsx}";
@source "../wwwroot/js/**/*.{js,ts,tsx,jsx}";

@theme {
    --color-primary: #4F5955;
    --color-secondary: #D9C3A9;
    --color-body-text: #535656;
    --color-body-text-100: #999999;
}

@layer components {
    /* 70px */
    .text-rte-xl {
        @apply text-[4.375rem] leading-[1.1];
    }
    /* 40px */
    .text-rte-lg {
        @apply text-[2.5rem] leading-[1.2];
    }
    /* 20px */
    .text-rte-md {
        @apply text-[1.25rem] leading-[1.4];
    }
    /* 16px */
    .text-rte-sm {
        @apply text-[1rem] leading-[1.5];
    }
    /* 14px */
    .text-rte-xs {
        @apply text-[0.875rem] leading-[1.5];
    }
  
}
.signature-img {
    @apply w-3xs  object-cover;
}

.rte-ul {
    @apply list-disc pl-6 mt-3;
}

    .rte-ul li {
        @apply mb-3;
    }

    .rte-ul li::marker {
        @apply text-secondary;
    }

img {
    @apply w-full h-auto object-cover;
}
.p {
    @apply mb-3;
}