@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

@{
	var rootContent = Umbraco.ContentAtRoot();
	var siteSettings = rootContent.OfType<SiteSettings>().FirstOrDefault();
	// var contactAdress = siteSettings?.ContactAdress ?? "Ingen adress angiven";
}

<footer class="bg-[#0E0E0E]">
	<div class="w-1/3 mx-auto p-4 flex items-center">
		<p class="text-xs text-[#535656] ">© Onatrix. All Rights Reserved. Credits to 
			<span class="text-[#D9C3A9]">Themesflat</span>
		</p>
		
	</div>
</footer>
