<?xml version="1.0" encoding="utf-8"?>
<Media Key="58c6aa3c-1b6e-4de7-bb63-415ae960162b" Alias="Aaron-Lambert.svg" Level="2">
  <Info>
    <Parent Key="96a9ff9c-67f5-41f7-832e-c569db8854f0">Team Members</Parent>
    <Path>/TeamMembers/AaronLambertsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-11T16:37:06</CreateDate>
    <NodeName Default="Aaron-Lambert.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/zylhjotv/aaron-lambert.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>