<?xml version="1.0" encoding="utf-8"?>
<Media Key="23e9a2b9-ec07-4486-b9b0-2defdb29f590" Alias="AJ-Carter.svg" Level="2">
  <Info>
    <Parent Key="96a9ff9c-67f5-41f7-832e-c569db8854f0">Team Members</Parent>
    <Path>/TeamMembers/AJCartersvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-11T16:37:06</CreateDate>
    <NodeName Default="AJ-Carter.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/jmpfxqi2/aj-carter.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>