<?xml version="1.0" encoding="utf-8"?>
<Media Key="e1d4fbed-3a40-4788-8964-4439639bbdf7" Alias="Bonds-Commodities.svg" Level="2">
  <Info>
    <Parent Key="a10d3500-3140-4716-a30f-5ecb3065da9f">Services</Parent>
    <Path>/Services/BondsCommoditiessvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-12T17:15:46</CreateDate>
    <NodeName Default="Bonds-Commodities.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/d3dhma01/bonds-commodities.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>