<?xml version="1.0" encoding="utf-8"?>
<Media Key="e073712c-d98b-48cc-9666-6af758710093" Alias="Brandon-Newton.svg" Level="2">
  <Info>
    <Parent Key="96a9ff9c-67f5-41f7-832e-c569db8854f0">Team Members</Parent>
    <Path>/TeamMembers/BrandonNewtonsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-11T16:37:06</CreateDate>
    <NodeName Default="Brandon-Newton.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/11gncauq/brandon-newton.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>