<?xml version="1.0" encoding="utf-8"?>
<Media Key="80f24291-7810-4061-a344-39c7e7d535f1" Alias="Brandon-Kerr.svg" Level="2">
  <Info>
    <Parent Key="96a9ff9c-67f5-41f7-832e-c569db8854f0">Team Members</Parent>
    <Path>/TeamMembers/BrandonKerrsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-11T16:37:06</CreateDate>
    <NodeName Default="Brandon-Kerr.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/mp5fayql/brandon-kerr.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>