<?xml version="1.0" encoding="utf-8"?>
<Media Key="5362454e-98b2-4984-9d8d-d865c5e2e5d1" Alias="Client" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Client</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-11-16T02:23:54</CreateDate>
    <NodeName Default="Client" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties />
</Media>