<?xml version="1.0" encoding="utf-8"?>
<Media Key="16e0532b-a614-4a9b-a032-24cc0b4dbed7" Alias="Component-1.svg" Level="2">
  <Info>
    <Parent Key="778a16f8-f01e-4135-8a0a-8e1ebb22a663">Contact Information </Parent>
    <Path>/ContactInformation/Component1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-16T13:48:22</CreateDate>
    <NodeName Default="Component-1.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/1hxef3ap/component-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>