<?xml version="1.0" encoding="utf-8"?>
<Media Key="25334bb0-27f4-41f5-a56e-92fcd39cbca7" Alias="Contact-Information.svg" Level="2">
  <Info>
    <Parent Key="778a16f8-f01e-4135-8a0a-8e1ebb22a663">Contact Information </Parent>
    <Path>/ContactInformation/ContactInformationsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-16T13:48:22</CreateDate>
    <NodeName Default="Contact-Information.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/il1jdr5p/contact-information.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>