<?xml version="1.0" encoding="utf-8"?>
<Media Key="778a16f8-f01e-4135-8a0a-8e1ebb22a663" Alias="Contact Information " Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ContactInformation</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-11-16T13:48:17</CreateDate>
    <NodeName Default="Contact Information " />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties />
</Media>