<?xml version="1.0" encoding="utf-8"?>
<Media Key="bcdb8564-d1a7-4e0f-9c73-56af9a7a2af5" Alias="Crowd.svg" Level="2">
  <Info>
    <Parent Key="5362454e-98b2-4984-9d8d-d865c5e2e5d1">Client</Parent>
    <Path>/Client/Crowdsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-16T02:25:23</CreateDate>
    <NodeName Default="Crowd.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/sy2hsxv2/crowd.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>