<?xml version="1.0" encoding="utf-8"?>
<Media Key="1410b817-1276-4545-b60c-880d04874622" Alias="Dot-map.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/DotMapsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-16T12:08:28</CreateDate>
    <NodeName Default="Dot-map.svg" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/2uclf3tn/dot-map.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>