<?xml version="1.0" encoding="utf-8"?>
<Media Key="ae63ad2f-097f-40a2-9a36-286c11fe47df" Alias="Financial-Advisor.svg" Level="2">
  <Info>
    <Parent Key="a10d3500-3140-4716-a30f-5ecb3065da9f">Services</Parent>
    <Path>/Services/FinancialAdvisorsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-12T17:15:46</CreateDate>
    <NodeName Default="Financial-Advisor.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/1uimctde/financial-advisor.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>