<?xml version="1.0" encoding="utf-8"?>
<Media Key="b4670d59-04b9-48b8-8547-690fe678ab70" Alias="Global.svg" Level="2">
  <Info>
    <Parent Key="5362454e-98b2-4984-9d8d-d865c5e2e5d1">Client</Parent>
    <Path>/Client/Globalsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-16T02:25:23</CreateDate>
    <NodeName Default="Global.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/voymkvvc/global.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>