<?xml version="1.0" encoding="utf-8"?>
<Media Key="83cf9bf3-a873-4ea2-b783-32acb8600b55" Alias="Google-map.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/GoogleMapsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-16T20:36:19</CreateDate>
    <NodeName Default="Google-map.svg" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/aetg0yli/google-map.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>