<?xml version="1.0" encoding="utf-8"?>
<Media Key="a9943367-8d3a-4d82-911e-3fa8c21928f0" Alias="Group.svg" Level="2">
  <Info>
    <Parent Key="5362454e-98b2-4984-9d8d-d865c5e2e5d1">Client</Parent>
    <Path>/Client/Groupsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-16T02:23:59</CreateDate>
    <NodeName Default="Group.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/swhdmszb/group.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>