<?xml version="1.0" encoding="utf-8"?>
<Media Key="87273483-7337-4972-a321-e0344987cc7d" Alias="Img-1 1.svg" Level="2">
  <Info>
    <Parent Key="5362454e-98b2-4984-9d8d-d865c5e2e5d1">Client</Parent>
    <Path>/Client/Img11svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-16T02:23:59</CreateDate>
    <NodeName Default="Img-1 1.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ogejkzjm/img-1-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>