<?xml version="1.0" encoding="utf-8"?>
<Media Key="13d85376-98cb-45ec-aac0-df567cfca012" Alias="Kevin-Gardner.svg" Level="2">
  <Info>
    <Parent Key="96a9ff9c-67f5-41f7-832e-c569db8854f0">Team Members</Parent>
    <Path>/TeamMembers/KevinGardnersvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-11T16:37:06</CreateDate>
    <NodeName Default="Kevin-Gardner.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/qtxhv2oq/kevin-gardner.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>