<?xml version="1.0" encoding="utf-8"?>
<Media Key="519f47b2-9030-4da5-acaf-066de96b8a1c" Alias="Partners.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Partnerssvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-16T12:40:44</CreateDate>
    <NodeName Default="Partners.svg" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/id3d1mzl/partners.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>