<?xml version="1.0" encoding="utf-8"?>
<Media Key="f90a288a-fd94-4d0b-bfc3-ee68e9b257d6" Alias="post2 1.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/post21svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-15T23:01:05</CreateDate>
    <NodeName Default="post2 1.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/pcklqg2p/post2-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>