<?xml version="1.0" encoding="utf-8"?>
<Media Key="6080713e-6cb9-488c-9b6c-b09b59f5127a" Alias="Risk-Management.svg" Level="2">
  <Info>
    <Parent Key="a10d3500-3140-4716-a30f-5ecb3065da9f">Services</Parent>
    <Path>/Services/RiskManagementsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-12T17:15:46</CreateDate>
    <NodeName Default="Risk-Management.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ztgcfavc/risk-management.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>