<?xml version="1.0" encoding="utf-8"?>
<Media Key="a10d3500-3140-4716-a30f-5ecb3065da9f" Alias="Services" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-11-12T17:14:54</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties />
</Media>