<?xml version="1.0" encoding="utf-8"?>
<Media Key="7c58d444-7f44-4c96-9aae-9718111b1732" Alias="sl-home2.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/slHome2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-20T13:45:11</CreateDate>
    <NodeName Default="sl-home2.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/wzupvhs5/sl-home2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>