<?xml version="1.0" encoding="utf-8"?>
<Media Key="5a8b0632-a0f6-4403-85b4-9f5859862e1f" Alias="Statistic-Advisor.svg" Level="2">
  <Info>
    <Parent Key="a10d3500-3140-4716-a30f-5ecb3065da9f">Services</Parent>
    <Path>/Services/StatisticAdvisorsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-12T17:15:46</CreateDate>
    <NodeName Default="Statistic-Advisor.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/yc3dtohn/statistic-advisor.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>