<?xml version="1.0" encoding="utf-8"?>
<Media Key="bbcc4b99-faa3-4b5b-a06b-36f820f0940e" Alias="Tax-Trusts.svg" Level="2">
  <Info>
    <Parent Key="a10d3500-3140-4716-a30f-5ecb3065da9f">Services</Parent>
    <Path>/Services/TaxTrustssvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-12T17:15:46</CreateDate>
    <NodeName Default="Tax-Trusts.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/np1g2wny/tax-trusts.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>