<?xml version="1.0" encoding="utf-8"?>
<Media Key="96a9ff9c-67f5-41f7-832e-c569db8854f0" Alias="Team Members" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/TeamMembers</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-11-11T16:36:58</CreateDate>
    <NodeName Default="Team Members" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties />
</Media>