<?xml version="1.0" encoding="utf-8"?>
<Media Key="97477f1d-3daa-449b-b2f4-9e3002781099" Alias="Tina-Fox.svg" Level="2">
  <Info>
    <Parent Key="96a9ff9c-67f5-41f7-832e-c569db8854f0">Team Members</Parent>
    <Path>/TeamMembers/TinaFoxsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-11T16:37:06</CreateDate>
    <NodeName Default="Tina-Fox.svg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/35bok3nr/tina-fox.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>