<?xml version="1.0" encoding="utf-8"?>
<Media Key="fe2edc82-848a-4216-be32-7fe5a8a85f79" Alias="Video.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Videosvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-16T11:55:27</CreateDate>
    <NodeName Default="Video.svg" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/obqjyher/video.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>