<?xml version="1.0" encoding="utf-8"?>
<DataType Key="36225b16-12a7-4636-aee5-65d3c6fcc6a1" Alias="Onatrix - Sections" Level="1">
  <Info>
    <Name>Onatrix - Sections</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "06a8414e-665d-408b-8578-84bc388fa05b",
      "settingsElementTypeKey": "5b6030a2-55d2-45b0-b15a-c36e57687023"
    },
    {
      "contentElementTypeKey": "640ded47-e31d-4bea-b08d-ac99ffafde56",
      "label": ""
    },
    {
      "contentElementTypeKey": "e93c46a7-c077-477b-b013-b5c9b2dc265c",
      "settingsElementTypeKey": "7803b06f-9ec5-4a70-8793-bb752d51bb27"
    },
    {
      "contentElementTypeKey": "a12d96df-33e0-46a9-8014-f3da97c72405"
    },
    {
      "contentElementTypeKey": "f84b89f1-be23-4822-b879-40497c9e614b"
    },
    {
      "contentElementTypeKey": "4aa896c4-afec-483d-9ff4-4939399b8d00"
    },
    {
      "contentElementTypeKey": "0f6e5b2f-5323-4397-a24e-501b99befd1a"
    },
    {
      "contentElementTypeKey": "740f9127-48e9-4632-a836-a0d15f2c5ac7"
    },
    {
      "contentElementTypeKey": "05dd4878-454f-4a5a-9961-8f42495564a4"
    }
  ]
}]]></Config>
</DataType>