<?xml version="1.0" encoding="utf-8"?>
<DataType Key="366edda5-eb3e-4fd0-9a60-480d23754336" Alias="Service List" Level="1">
  <Info>
    <Name>Service List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "ecb406bf-dab3-4fe0-b89b-9b383db667c3",
      "label": "{umbValue: serviceLabel}"
    }
  ]
}]]></Config>
</DataType>