<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f293c13a-6539-4942-a2f7-40691c5a53e0" Alias="Service Details Asides - List" Level="1">
  <Info>
    <Name>Service Details Asides - List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "ba3fd3e3-70cf-4262-b3f7-59e9938d9a92"
    }
  ]
}]]></Config>
</DataType>