<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5cfa3d24-f399-484f-9f6c-4fb1bd1867c7" Alias="Site Settings - Media List" Level="1">
  <Info>
    <Name>Site Settings - Media List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "649b0e17-1eae-4600-90ff-3709c5adc0f1",
      "label": "[umbValue: platformName]"
    }
  ]
}]]></Config>
</DataType>