<?xml version="1.0" encoding="utf-8"?>
<DataType Key="084f5097-2968-4ba0-97ce-e80112d3eeff" Alias="Site Settings - Platform List" Level="1">
  <Info>
    <Name>Site Settings - Platform List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "012fbe84-3e86-4904-8362-0c9c42841241",
      "label": "[umbValue: platformName]"
    }
  ]
}]]></Config>
</DataType>