<?xml version="1.0" encoding="utf-8"?>
<DataType Key="881b035e-2f28-4542-82c6-205f4fb18672" Alias="Team Member List" Level="1">
  <Info>
    <Name>Team Member List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "58fc2242-38d3-4dec-80a0-b934bcda3ebc",
      "label": "{umbValue: teamMemberName}"
    }
  ]
}]]></Config>
</DataType>