<?xml version="1.0" encoding="utf-8"?>
<Content Key="29f2fb4b-4d76-4d88-87f8-7729c4ffe32d" Alias="About" Level="2">
  <Info>
    <Parent Key="9e836e15-1399-4deb-8268-1b7a04429a8a">Home</Parent>
    <Path>/Home/About</Path>
    <Trashed>false</Trashed>
    <ContentType>aboutPage</ContentType>
    <CreateDate>2025-11-11T16:38:36</CreateDate>
    <NodeName Default="About" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="001ad38a-2e8b-4291-ba9d-b4cb4e196219">AboutPage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[About Us]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "a12d96df-33e0-46a9-8014-f3da97c72405",
      "key": "ba401386-2924-465c-9972-0aca23b6d71e",
      "udi": null,
      "values": [
        {
          "alias": "teamMemberList",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "58fc2242-38d3-4dec-80a0-b934bcda3ebc",
                "key": "9986bf90-4aef-4978-968a-cc65ddad84f5",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Brandon Newton"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Financial Advisor at Onatrix"
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "1a33f6e9-fa30-4ae4-9700-39ec705ef130",
                        "mediaKey": "e073712c-d98b-48cc-9666-6af758710093",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "58fc2242-38d3-4dec-80a0-b934bcda3ebc",
                "key": "7d4025d7-90f6-49ae-9bbc-9cc14316cd04",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "AJ Carter"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Financial Advisor at Onatrix"
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "7092f858-71a0-4407-9873-5ec98e8bbe6d",
                        "mediaKey": "23e9a2b9-ec07-4486-b9b0-2defdb29f590",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "58fc2242-38d3-4dec-80a0-b934bcda3ebc",
                "key": "f3c47aa6-43c8-4ed7-b742-9618f8a495bd",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Aaron Lambert"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Business Specialist at Onatrix"
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "3b39cf0b-9bbb-41de-8c46-8fcc15a58b37",
                        "mediaKey": "58c6aa3c-1b6e-4de7-bb63-415ae960162b",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "58fc2242-38d3-4dec-80a0-b934bcda3ebc",
                "key": "b0276a21-9e6e-4966-a552-ac8960714ced",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Tina Fox"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "CEO \u0026 Founder at Onatrix"
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "e15ad8a7-abb8-4ebe-8457-e03ada731c09",
                        "mediaKey": "97477f1d-3daa-449b-b2f4-9e3002781099",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "58fc2242-38d3-4dec-80a0-b934bcda3ebc",
                "key": "d773dd6a-e02f-44f0-9b89-ca8d6809adb3",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Brandon Kerr"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": " CFO \u0026 Co-Founderat Onatrix"
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "274d55a9-cdb8-48c6-89e4-5d65dc1b5035",
                        "mediaKey": "80f24291-7810-4061-a344-39c7e7d535f1",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "58fc2242-38d3-4dec-80a0-b934bcda3ebc",
                "key": "ce870a87-5a42-41dd-bd49-f56f776e5522",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Miranda Dayton"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Head of HR at Onatrix"
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "18ccfc44-df20-40cd-9946-1f6dee0f11ca",
                        "mediaKey": "f7da72ce-7553-4bc2-b4ea-5f1ece6409f4",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "58fc2242-38d3-4dec-80a0-b934bcda3ebc",
                "key": "3e19d986-f5db-4c57-9096-ea3af7742a85",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Kevin Gardner"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Banking Advisor at Swedbank"
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "f0883f57-3fee-425f-8ce9-1127138b3797",
                        "mediaKey": "13d85376-98cb-45ec-aac0-df567cfca012",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "9986bf90-4aef-4978-968a-cc65ddad84f5",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "7d4025d7-90f6-49ae-9bbc-9cc14316cd04",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "f3c47aa6-43c8-4ed7-b742-9618f8a495bd",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "b0276a21-9e6e-4966-a552-ac8960714ced",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "d773dd6a-e02f-44f0-9b89-ca8d6809adb3",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "ce870a87-5a42-41dd-bd49-f56f776e5522",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "3e19d986-f5db-4c57-9096-ea3af7742a85",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "9986bf90-4aef-4978-968a-cc65ddad84f5",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "7d4025d7-90f6-49ae-9bbc-9cc14316cd04",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "f3c47aa6-43c8-4ed7-b742-9618f8a495bd",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "b0276a21-9e6e-4966-a552-ac8960714ced",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "d773dd6a-e02f-44f0-9b89-ca8d6809adb3",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "ce870a87-5a42-41dd-bd49-f56f776e5522",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "3e19d986-f5db-4c57-9096-ea3af7742a85",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        },
        {
          "alias": "teamLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "OUR EXPERT"
        },
        {
          "alias": "teamTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Ch3 style=\u0022text-align: center\u0022\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EA team of professionals\u003C/span\u003E\u003Cbr\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003Ewith years of experience\u003C/span\u003E\u003C/h3\u003E\u003Cp\u003E\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "ba401386-2924-465c-9972-0aca23b6d71e",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "ba401386-2924-465c-9972-0aca23b6d71e",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>