<?xml version="1.0" encoding="utf-8"?>
<Content Key="4503a7c8-6406-416d-a5ce-a327c4e3c332" Alias="Bonds &amp; Commodities" Level="3">
  <Info>
    <Parent Key="40c7641b-a18a-445a-81c4-0ffd8e198f85">Services</Parent>
    <Path>/Home/Services/BondsCommodities</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-11-15T15:17:07</CreateDate>
    <NodeName Default="Bonds &amp; Commodities" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="d2a87a19-6bb4-4b80-9984-cdf830cfd15b">ServiceDetail</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Bonds & Commodities]]></Value>
    </pageTitle>
    <serviceDetailBody>
      <Value><![CDATA[]]></Value>
    </serviceDetailBody>
    <serviceDetailExcerpt>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceDetailExcerpt>
    <serviceDetailsAsides>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "ba3fd3e3-70cf-4262-b3f7-59e9938d9a92",
      "key": "6d0b659d-2b94-4a96-9450-556c84f688da",
      "udi": null,
      "values": [
        {
          "alias": "infoTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "About Us"
        },
        {
          "alias": "infoImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "9d4e628f-8ddd-4aae-893f-f11e0da38f7f",
              "mediaKey": "5a8b0632-a0f6-4403-85b4-9f5859862e1f",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "infoText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non "
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "6d0b659d-2b94-4a96-9450-556c84f688da",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "6d0b659d-2b94-4a96-9450-556c84f688da",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </serviceDetailsAsides>
    <serviceDetailThumbnail>
      <Value><![CDATA[[
  {
    "key": "bd866a75-9496-4caa-bca8-5174f569a17a",
    "mediaKey": "e1d4fbed-3a40-4788-8964-4439639bbdf7",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailThumbnail>
  </Properties>
</Content>