<?xml version="1.0" encoding="utf-8"?>
<Content Key="76b23b1a-5590-4327-a62f-161eecc465b5" Alias="Contact" Level="2">
  <Info>
    <Parent Key="9e836e15-1399-4deb-8268-1b7a04429a8a">Home</Parent>
    <Path>/Home/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2025-10-30T12:44:02</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="d13aabea-4217-43bf-9410-c5ef4dc150c0">ContactPage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Contact Us]]></Value>
    </pageTitle>
  </Properties>
</Content>