<?xml version="1.0" encoding="utf-8"?>
<Content Key="76b23b1a-5590-4327-a62f-161eecc465b5" Alias="Contact" Level="2">
  <Info>
    <Parent Key="9e836e15-1399-4deb-8268-1b7a04429a8a">Home</Parent>
    <Path>/Home/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2025-10-30T12:44:02</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="d13aabea-4217-43bf-9410-c5ef4dc150c0">ContactPage</Template>
  </Info>
  <Properties>
    <onatrixSection>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "740f9127-48e9-4632-a836-a0d15f2c5ac7",
      "key": "330e0741-462b-4a46-afc3-985bd2e436b0",
      "udi": null,
      "values": [
        {
          "alias": "contactInformationTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Let us know about your next project"
        },
        {
          "alias": "contactInformationLocation",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Klarabergsviadukten 90, 111 52 Stockholm"
        },
        {
          "alias": "contactInformationNumber",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "\u002B46 8 123 456 75"
        },
        {
          "alias": "contactInformationMail",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "sales@onatrix.com"
        },
        {
          "alias": "contactInformationImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "0505a323-bdce-4c59-9856-d1ac42837591",
              "mediaKey": "25334bb0-27f4-41f5-a56e-92fcd39cbca7",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "contactInformationComponent",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "b5ea0af0-7ce6-41f0-a5c3-a1d437f3367f",
              "mediaKey": "16e0532b-a614-4a9b-a032-24cc0b4dbed7",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "0f6e5b2f-5323-4397-a24e-501b99befd1a",
      "key": "de05cc3e-7b82-4863-887e-e78edefcfa64",
      "udi": null,
      "values": [
        {
          "alias": "partnerImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "e3d947c9-6c35-40f3-afa5-76dee2e4e31f",
              "mediaKey": "519f47b2-9030-4da5-acaf-066de96b8a1c",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "330e0741-462b-4a46-afc3-985bd2e436b0",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "de05cc3e-7b82-4863-887e-e78edefcfa64",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "330e0741-462b-4a46-afc3-985bd2e436b0",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "de05cc3e-7b82-4863-887e-e78edefcfa64",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </onatrixSection>
    <pageTitle>
      <Value><![CDATA[Contact Us]]></Value>
    </pageTitle>
  </Properties>
</Content>