<?xml version="1.0" encoding="utf-8"?>
<Content Key="9e836e15-1399-4deb-8268-1b7a04429a8a" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2025-10-20T13:45:28</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4f23ef69-74ac-41c8-a397-dcf36c6c0387">HomePage</Template>
  </Info>
  <Properties>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "06a8414e-665d-408b-8578-84bc388fa05b",
      "key": "cb7e5561-914b-4a60-bb6a-146a516db9c6",
      "udi": null,
      "values": [
        {
          "alias": "heroTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "We bring success to you"
        },
        {
          "alias": "heroText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003ELorem ipsum dolor sit amet, consectetur. adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim\u003C/span\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "heroLink",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "Contact Us",
              "target": null,
              "udi": "umb://document/76b23b1a55904327a62f161eecc465b5",
              "url": null,
              "queryString": null
            }
          ]
        },
        {
          "alias": "heroBgImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "e6431ad9-bfe5-4f45-9965-0717e5e75256",
              "mediaKey": "7c58d444-7f44-4c96-9aae-9718111b1732",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "640ded47-e31d-4bea-b08d-ac99ffafde56",
      "key": "69eba91c-0df8-4c87-a013-9c1a6a076ee3",
      "udi": null,
      "values": [
        {
          "alias": "aboutLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "ABOUT US"
        },
        {
          "alias": "aboutTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Ch3\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EWe have 40 years experience\u003C/span\u003E\u003C/h3\u003E\u003Cp\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "aboutSubTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003E\u201CWe have over 25 years of experience providing expert financial advice to both businesses and individuals.\u201D\u003C/span\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "aboutDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EDolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium.\u003C/span\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "aboutSignatureImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "7e73ad45-e310-4f4b-8838-bf4149c9ddb4",
              "mediaKey": "5baa81f5-b81b-4ec3-8c0a-385d0e3d0f44",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "e93c46a7-c077-477b-b013-b5c9b2dc265c",
      "key": "c67e7008-977a-4eb3-8d5d-06d3c875dd4c",
      "udi": null,
      "values": [
        {
          "alias": "serviceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Our Services"
        },
        {
          "alias": "serviceTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Ch3 style=\u0022text-align: center\u0022\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EWe Provide The Solutions \u003C/span\u003E\u003Cbr\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003ETo Grow Your Business Faster\u003C/span\u003E\u003C/h3\u003E\u003Cp\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "serviceList",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "ecb406bf-dab3-4fe0-b89b-9b383db667c3",
                "key": "76841af7-21d5-4291-b0f6-2007f7c0194d",
                "udi": null,
                "values": [
                  {
                    "alias": "serviceLabel",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Risk Management"
                  },
                  {
                    "alias": "serviceImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "830e0fe9-fa26-4760-8fae-edb633139fbb",
                        "mediaKey": "6080713e-6cb9-488c-9b6c-b09b59f5127a",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "serviceDescription",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EDolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non\u003C/span\u003E\u003C/p\u003E"
                    }
                  }
                ]
              },
              {
                "contentTypeKey": "ecb406bf-dab3-4fe0-b89b-9b383db667c3",
                "key": "9f9ea1a9-e707-4518-96db-a0d8a105c163",
                "udi": null,
                "values": [
                  {
                    "alias": "serviceLabel",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Bonds \u0026 Commodities"
                  },
                  {
                    "alias": "serviceImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "1e35ad56-e13e-4f55-a93f-a5fd6a924f08",
                        "mediaKey": "e1d4fbed-3a40-4788-8964-4439639bbdf7",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "serviceDescription",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EDolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non\u003C/span\u003E\u003C/p\u003E"
                    }
                  }
                ]
              },
              {
                "contentTypeKey": "ecb406bf-dab3-4fe0-b89b-9b383db667c3",
                "key": "af41e76a-d27a-4e24-a01b-e980469e0d55",
                "udi": null,
                "values": [
                  {
                    "alias": "serviceLabel",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Assurance \u0026 Audits"
                  },
                  {
                    "alias": "serviceImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "5876b8c0-2efb-4218-a330-afeacc2058fc",
                        "mediaKey": "4e3049d4-a29d-4dde-ba65-e342e3f5c1eb",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "serviceDescription",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EDolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non\u003C/span\u003E\u003C/p\u003E"
                    }
                  }
                ]
              },
              {
                "contentTypeKey": "ecb406bf-dab3-4fe0-b89b-9b383db667c3",
                "key": "aa2d3034-08db-4f80-bb40-8e4bf579f6d1",
                "udi": null,
                "values": [
                  {
                    "alias": "serviceLabel",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Tax and Trusts"
                  },
                  {
                    "alias": "serviceImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "0128c9f3-83e8-4fb0-a269-19415398129b",
                        "mediaKey": "bbcc4b99-faa3-4b5b-a06b-36f820f0940e",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "serviceDescription",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EDolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non\u003C/span\u003E\u003C/p\u003E"
                    }
                  }
                ]
              },
              {
                "contentTypeKey": "ecb406bf-dab3-4fe0-b89b-9b383db667c3",
                "key": "b9401dd6-6ba1-413e-8749-0a7400040bc9",
                "udi": null,
                "values": [
                  {
                    "alias": "serviceLabel",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Financial Advisor"
                  },
                  {
                    "alias": "serviceImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "f4528ce0-79f7-4d2c-b3db-9c117460a830",
                        "mediaKey": "ae63ad2f-097f-40a2-9a36-286c11fe47df",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "serviceDescription",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EDolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non\u003C/span\u003E\u003C/p\u003E"
                    }
                  }
                ]
              },
              {
                "contentTypeKey": "ecb406bf-dab3-4fe0-b89b-9b383db667c3",
                "key": "7178f1fb-b583-4db4-8a0d-4eedefc5d5b1",
                "udi": null,
                "values": [
                  {
                    "alias": "serviceLabel",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Statistic Advisors"
                  },
                  {
                    "alias": "serviceImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "96d0d0f9-f14d-4353-af70-28a0e1cb49de",
                        "mediaKey": "5a8b0632-a0f6-4403-85b4-9f5859862e1f",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "serviceDescription",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EDolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non\u003C/span\u003E\u003C/p\u003E"
                    }
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "76841af7-21d5-4291-b0f6-2007f7c0194d",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "9f9ea1a9-e707-4518-96db-a0d8a105c163",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "af41e76a-d27a-4e24-a01b-e980469e0d55",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "aa2d3034-08db-4f80-bb40-8e4bf579f6d1",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "b9401dd6-6ba1-413e-8749-0a7400040bc9",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "7178f1fb-b583-4db4-8a0d-4eedefc5d5b1",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "76841af7-21d5-4291-b0f6-2007f7c0194d",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "9f9ea1a9-e707-4518-96db-a0d8a105c163",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "af41e76a-d27a-4e24-a01b-e980469e0d55",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "aa2d3034-08db-4f80-bb40-8e4bf579f6d1",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "b9401dd6-6ba1-413e-8749-0a7400040bc9",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "7178f1fb-b583-4db4-8a0d-4eedefc5d5b1",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "5b6030a2-55d2-45b0-b15a-c36e57687023",
      "key": "bf84a715-9318-421e-8731-1486df68ba7c",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "7803b06f-9ec5-4a70-8793-bb752d51bb27",
      "key": "029a5e85-166e-48ee-9580-fc9761af89af",
      "udi": null,
      "values": [
        {
          "alias": "showServiceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "serviceBgColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "White-100",
            "value": "#f7f7f7"
          }
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "cb7e5561-914b-4a60-bb6a-146a516db9c6",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "69eba91c-0df8-4c87-a013-9c1a6a076ee3",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "c67e7008-977a-4eb3-8d5d-06d3c875dd4c",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "cb7e5561-914b-4a60-bb6a-146a516db9c6",
        "contentUdi": null,
        "settingsKey": "bf84a715-9318-421e-8731-1486df68ba7c",
        "settingsUdi": null
      },
      {
        "contentKey": "69eba91c-0df8-4c87-a013-9c1a6a076ee3",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "c67e7008-977a-4eb3-8d5d-06d3c875dd4c",
        "contentUdi": null,
        "settingsKey": "029a5e85-166e-48ee-9580-fc9761af89af",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>