<?xml version="1.0" encoding="utf-8"?>
<Content Key="40c7641b-a18a-445a-81c4-0ffd8e198f85" Alias="Services" Level="2">
  <Info>
    <Parent Key="9e836e15-1399-4deb-8268-1b7a04429a8a">Home</Parent>
    <Path>/Home/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>servicePage</ContentType>
    <CreateDate>2025-11-11T15:10:03</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="71203d6e-b183-4044-85b8-10faf08ba8e9">ServicePage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Our Services]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "e93c46a7-c077-477b-b013-b5c9b2dc265c",
      "key": "767ba16b-f14a-4dcd-8935-b07e1697a82d",
      "udi": null,
      "values": [
        {
          "alias": "serviceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Our Services"
        },
        {
          "alias": "serviceTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Ch3 style=\u0022text-align: center\u0022\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EWe Provide The Solutions \u003C/span\u003E\u003Cbr\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003ETo Grow Your Business Faster\u003C/span\u003E\u003C/h3\u003E\u003Cp\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "serviceList",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "ecb406bf-dab3-4fe0-b89b-9b383db667c3",
                "key": "904071d3-c347-4055-8033-0e104f0a6af4",
                "udi": null,
                "values": [
                  {
                    "alias": "serviceLabel",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Risk Management"
                  },
                  {
                    "alias": "serviceImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "830e0fe9-fa26-4760-8fae-edb633139fbb",
                        "mediaKey": "6080713e-6cb9-488c-9b6c-b09b59f5127a",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "serviceDescription",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EDolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non\u003C/span\u003E\u003C/p\u003E"
                    }
                  }
                ]
              },
              {
                "contentTypeKey": "ecb406bf-dab3-4fe0-b89b-9b383db667c3",
                "key": "1a4c12cc-8599-47a4-ba91-be21a13163bc",
                "udi": null,
                "values": [
                  {
                    "alias": "serviceLabel",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Bonds \u0026 Commodities"
                  },
                  {
                    "alias": "serviceImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "1e35ad56-e13e-4f55-a93f-a5fd6a924f08",
                        "mediaKey": "e1d4fbed-3a40-4788-8964-4439639bbdf7",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "serviceDescription",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EDolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non\u003C/span\u003E\u003C/p\u003E"
                    }
                  }
                ]
              },
              {
                "contentTypeKey": "ecb406bf-dab3-4fe0-b89b-9b383db667c3",
                "key": "6871f6d8-d265-451f-bd1d-fa2a8ffdad29",
                "udi": null,
                "values": [
                  {
                    "alias": "serviceLabel",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Assurance \u0026 Audits"
                  },
                  {
                    "alias": "serviceImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "5876b8c0-2efb-4218-a330-afeacc2058fc",
                        "mediaKey": "4e3049d4-a29d-4dde-ba65-e342e3f5c1eb",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "serviceDescription",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EDolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non\u003C/span\u003E\u003C/p\u003E"
                    }
                  }
                ]
              },
              {
                "contentTypeKey": "ecb406bf-dab3-4fe0-b89b-9b383db667c3",
                "key": "2178d660-ce4b-465e-a23c-3782c84379ef",
                "udi": null,
                "values": [
                  {
                    "alias": "serviceLabel",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Tax and Trusts"
                  },
                  {
                    "alias": "serviceImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "0128c9f3-83e8-4fb0-a269-19415398129b",
                        "mediaKey": "bbcc4b99-faa3-4b5b-a06b-36f820f0940e",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "serviceDescription",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EDolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non\u003C/span\u003E\u003C/p\u003E"
                    }
                  }
                ]
              },
              {
                "contentTypeKey": "ecb406bf-dab3-4fe0-b89b-9b383db667c3",
                "key": "372205e7-17c2-4bf0-aebc-234478fca927",
                "udi": null,
                "values": [
                  {
                    "alias": "serviceLabel",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Financial Advisor"
                  },
                  {
                    "alias": "serviceImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "f4528ce0-79f7-4d2c-b3db-9c117460a830",
                        "mediaKey": "ae63ad2f-097f-40a2-9a36-286c11fe47df",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "serviceDescription",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EDolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non\u003C/span\u003E\u003C/p\u003E"
                    }
                  }
                ]
              },
              {
                "contentTypeKey": "ecb406bf-dab3-4fe0-b89b-9b383db667c3",
                "key": "9de371f9-0759-4717-9543-ea611ea7e259",
                "udi": null,
                "values": [
                  {
                    "alias": "serviceLabel",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Statistic Advisors"
                  },
                  {
                    "alias": "serviceImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "96d0d0f9-f14d-4353-af70-28a0e1cb49de",
                        "mediaKey": "5a8b0632-a0f6-4403-85b4-9f5859862e1f",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "serviceDescription",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EDolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non\u003C/span\u003E\u003C/p\u003E"
                    }
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "904071d3-c347-4055-8033-0e104f0a6af4",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "1a4c12cc-8599-47a4-ba91-be21a13163bc",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "6871f6d8-d265-451f-bd1d-fa2a8ffdad29",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "2178d660-ce4b-465e-a23c-3782c84379ef",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "372205e7-17c2-4bf0-aebc-234478fca927",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "9de371f9-0759-4717-9543-ea611ea7e259",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "904071d3-c347-4055-8033-0e104f0a6af4",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "1a4c12cc-8599-47a4-ba91-be21a13163bc",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "6871f6d8-d265-451f-bd1d-fa2a8ffdad29",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "2178d660-ce4b-465e-a23c-3782c84379ef",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "372205e7-17c2-4bf0-aebc-234478fca927",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "9de371f9-0759-4717-9543-ea611ea7e259",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "7803b06f-9ec5-4a70-8793-bb752d51bb27",
      "key": "33b67003-f7e0-4a37-87f7-f4b0ad3c08e9",
      "udi": null,
      "values": [
        {
          "alias": "serviceBgColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "White",
            "value": "#ffffff"
          }
        },
        {
          "alias": "showServiceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "767ba16b-f14a-4dcd-8935-b07e1697a82d",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "767ba16b-f14a-4dcd-8935-b07e1697a82d",
        "contentUdi": null,
        "settingsKey": "33b67003-f7e0-4a37-87f7-f4b0ad3c08e9",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>